.contact-preview .photo {
  height: 100px;
  overflow: hidden;
}
.sidebar {
  width: 250px;
  background: red;
  float: left;
}
.sidebar .active {
  color: white;
}
.main {
  width: calc(100% - 250px);
  background: blue;
  float: right;
}
.sample-photo img {
  width: 200px;
}
